/*body*/
body {
  margin: 0;
  background-color: aliceblue;
   font-family: 'Exo 2', sans-serif;
    font-family: 'Quicksand', sans-serif;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}
#content{
  padding: 10px;
  margin-bottom: 0px;
 }
 
 #contentEstudios{
   height:820px;
   padding: 40px;
   margin-bottom:100px;
 }
#contentSkills{
  height:680px;
  padding: 40px;
  margin-bottom:100px;
}
#content i {font-size: 20px;
  color:#000000;
}

hr{
  border: 1px solid #000000;
}
a{
  color: #000000;
}
/*footer*/
footer { 
  position: absolute;
  bottom: 0;
  width: 100%;
  }
  footer li {
    padding-bottom: 5px;
  }
  footer p{
    color:#f3f3f3;
    text-align:center;
  }
  footer i {
    font-size: 20px;
    color:#ffffff;
  }
 footer a{
    text-decoration: none;
    color: #ffffff;
  }
  footer .container {
   width: 90%;
   
  }

a:hover{
  color: rgb(99, 106, 141);
}
#footer{
  background: #131212;
}

@media (max-width: 620px) {
  #content{
    height:470px;
    padding: 20px;
   
  }
  #contentEstudios{
    height:1250px;
   
  }
}                

@media (min-width: 920px) {
  #content{
    height:450px;
    padding: 30px 30px;
    margin-bottom:140px;
  }
  #contentEstudios{
    height:900px;
    margin: 0;
  }
}    

         
@media (min-width: 1220px) {
  #content{
    height:470px;
  }
 
  #contentEstudios{
    height:550px;
    
  }
}                
                                           