/*body*/
body {
  margin: 0;
  background-color: aliceblue;
   font-family: 'Exo 2', sans-serif;
    font-family: 'Quicksand', sans-serif;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}
#content{
 height:720px;
 padding: 20px;
 margin-bottom: 200px;
}

#contentEstudios{
  height:820px;
  padding: 40px;
  margin-bottom:100px;
}
#contentSkills{
  height:680px;
  padding: 40px;
  margin-bottom:100px;
}
#content i {font-size: 20px;
  color:#000000;
}

hr{
  border: 1px solid #000000;
}
a{
  color: #000000;
}
/*footer*/
footer { 
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  }
  footer li {
    padding-bottom: 5px;
  }
  footer p{
    color:#f3f3f3;
    text-align:center;
  }
  footer i {
    font-size: 20px;
    color:#ffffff;
  }
 footer a{
    text-decoration: none;
    color: #ffffff;
  }
  footer .container {
   width: 80%;
   
  }

a:hover{
  color: rgb(99, 106, 141);
}

@media (min-width: 720px) {
  #content{
    height:1050px;
    padding: 40px;
    margin-bottom:100px;
   
  }
}                                             
@media (max-width: 520px) {
  #content{
    height:1350px;
    padding: 40px;
    margin-bottom:100px;
  }
  #contentEstudios{
    height:1150px;
  }
}                  


